/* You can add global styles to this file, and also import other style files */

body {
  color: #c9d1d9;
  background: #0d1117;
}
body a {
  color: #809fff;
}

/* Possible Header bg color: #161b22 */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
